.item-details {
  > h1 {
    margin-bottom: 3rem;
  }

  .properties {
    margin: -.2rem;

    .property {
      display: flex;

      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, .1);
      margin: .2rem;

      .prop-name {
        min-width: 10rem;
        max-width: 10rem;
        font-weight: 600;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    a {
      margin: .3rem 0;
    }
  }
}