.item-details {
  opacity: 0;
  transition: 1s;

  &.initted {
    opacity: 1;
    transition: 1s;
  }

  > h1 {
    margin-bottom: 3rem;
  }

  .properties {
    margin: -.2rem;

    .property {
      display: flex;

      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, .1);
      margin: .2rem;

      .prop-name {
        min-width: 10rem;
        max-width: 10rem;
        font-weight: 600;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .subcategory-container {
      border: 1px solid rgba(0, 0, 0, .1);
      margin: .5rem 0;
      padding: 1rem;
      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);

    }

    a {
      margin: .3rem 0;
    }
  }
}